@import url(../../main.css);

main {
    position: relative;
    width: 100dvw;
    height: calc(100dvh - 70px);
    display: grid;
    align-items: center;
    justify-content: center;
    background: var(--background);

    #ball {
        position: absolute;
        width: 50dvh;
        height: 50dvh;
        max-width: 300px;
        max-height: 300px;
        border-radius: 10px;
        background: url(../../assets/info.jpeg);
        background-attachment: fixed;
        background-size: cover;
        z-index: 1;
        box-shadow: 0 0 10px var(--inputCL);
        transition: .1s;
    }

    @media (max-width: 500px) {
        #ball {
            width: 20dvh;
            height: 20dvh;
        } 
    }

    .box {
        z-index: 2;
        width: 80dvw;
        max-width: 500px;
        background: linear-gradient(90deg, #000000cb, #0000002f), url(../../assets/info.jpeg);
        background-size: cover;
        background-position: center;
        color: #fff;
        padding: 20px;
        border-radius: 10px;
        display: grid;
        align-items: center;
        gap: 20px;
        overflow: hidden auto;
        cursor: default;
        text-shadow: 0 0 5px #00000060;
        font-family: Arial, Helvetica, sans-serif;

        h1 {
            font-size: 2rem;
            letter-spacing: 2px;
        }

        p {
            font-size: 1.1rem;
            font-family: sans-serif;
            letter-spacing: .5px;
        }
    }
}